
table table-striped { 
  width: 100%; 
  border-collapse: collapse; 
  font-size: 10pt;
}
table mb-0 { 
  background: #eee; 
}
th { 
  background: rgba(19, 123, 172, 0.774); 
  color: white; 
  font-weight: bold; 
  text-align: center;
 }
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: center; 
 }
