<ion-header>
  <ion-toolbar color="primary">
      <ion-title align="center">
          Informasi Mahasiswa
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-list>
      <div class="image ion-text-center">
        <img src="assets/unbin_logo.png">
      </div>
      <br>
    </ion-list>
    <ion-list>
      <ion-card-title align=center>Annisa Haryoko</ion-card-title>
      <ion-card-title align=center>Tenik Informatika</ion-card-title>
      <ion-card-title align=center>Universitas Binaniaga Indonesia</ion-card-title>
      <p></p>
    </ion-list>
  </ion-card>
  
 <ion-card>
  <ion-list>
    <ion-list-header>Contact:</ion-list-header>
    <ion-chip class="ion-margin-start">
      <ion-avatar>
        <img src="assets/email1.png" />
      </ion-avatar>
      <ion-label>annisaharyoko20@gmail.com</ion-label>
    </ion-chip>
  
    <ion-chip class="ion-margin-start">
      <ion-avatar>
        <img src="assets/ig.png" />
      </ion-avatar>
      <ion-label>@annis.hryk</ion-label>
    </ion-chip>
  </ion-list> 
 </ion-card> 
  
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Information</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    This practicum consists of an API made from PHP using the CodeIgniter framework and Mobile itself from the Ionic 
    framework which includes HTML5 and Angular languages.
  </ion-card-content>
</ion-card>
  
</ion-content>
